<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        
        $(document).ready(function(){
                // get list of users
                $.ajax({
                    url: '<?php echo $this->baseUrl; ?>/index/getlistofusers',
                    dataType : 'json',
                    context : this,
                    success : function( response ) {
                        for(var i = 0; i < response.length; i++) {
                            $('#user-select').append(
                                $("<option></option>")
                                    .attr("value",response[i][0])
                                    .text( response[i][1]) 
                            );
                        }
                        
                        $("#user-select").on('change', function(){
                            var userID = $(this).find('option:selected').val();
                            
                            updateMap( userID );
                        });
                    }
                }); //endof ajax
            
            function clearMap() {
                if(window.drivePath)
                    window.drivePath.setMap(null);
                
                if(window.startMarker)
                    window.startMarker.setMap(null);
                
                if(window.endMarker)
                    window.endMarker.setMap(null);
                
                for(var i in window.stopMarkers) {
                    window.stopMarkers[i].setMap(null)
                }
            }
            function updateMap( userID ) {
                $.ajax({
                    url: '<?php echo $this->baseUrl; ?>/index/getsessiondata?user_id=' + userID,
                    dataType : 'json',
                    context : this,
                    success : function( response ) {
                        
                        clearMap();
                        
                        var points = response;

                        window.coordinates = [];
                        window.stopMarkers = [];
                        for(var i = 0; i < points.length; i++) {
                            var p = points[i];
                            window.coordinates.push( new google.maps.LatLng( p.x, p.y ) );
                       
                            if( p.stop == 1 ) {
                                 console.log(p.stop);
                                window.stopMarkers.push(
                                    new google.maps.Marker({
                                        position: new google.maps.LatLng( p.x, p.y ),
                                        map: window.map,
                                        title: 'Stop point'
                                    })
                                );
                            }
                            else {
                                console.log('not stop')
                            }
                        }
    
                        window.drivePath = new google.maps.Polyline({
                            path: window.coordinates,
                            geodesic: true,
                            strokeColor: '#FF0000',
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                        });
                        window.drivePath.setMap(window.map);

                        // start and finish markers
                        window.startMarker = new google.maps.Marker({
                            position: window.coordinates[0],
                            map: window.map,
                            title: 'Start',
                            icon: { url: 'http://mt.google.com/vt/icon?psize=27&font=fonts/Roboto-Bold.ttf&color=ff135C13&name=icons/spotlight/spotlight-waypoint-a.png&ax=43&ay=50&text=•&scale=1' }
                        });

                        window.endMarker = new google.maps.Marker({
                            position: window.coordinates[ window.coordinates.length - 1 ],
                            map: window.map,
                            title: 'Finish'
                        });

                       window.map.panTo(window.coordinates[0]);
                    }
                }); //endof ajax
            }
            
            function initialize() {
               var mapOptions = {
                 zoom: 3,
                 center: new google.maps.LatLng(51,22)
               };

               window.map = new google.maps.Map(document.getElementById('map-canvas'),
                   mapOptions);
 
             }
             google.maps.event.addDomListener(window, 'load', initialize);
        }); // endof document ready
    </script>
  </head>
  <body>
      <select id="user-select">
          <option></option>
      </select>
    <div id="map-canvas"></div>
  </body>
</html>